body {
    background-color: #280320;
    color: rgb(255, 255, 255);
    text-align:  center;
}

h1 {
    color: rgba(255, 255, 255, 0.9);
}

b {
    font-family: cursive;
    text-shadow: -2px 2px 3px #999;
}

* {
    margin: 10;
    padding: 0;
}

@import url(что-то.css);
#genus_examples > li {
     border: 3.5px solid #c2005e; 
}

h2 + p {
    font-weight: bold 
}

#corners {
    padding: 30px;
    background: #5c002c;
    border-radius: 50px;
    border: 7px solid #fff;
}
/* Онли через тэг выровнять получилось */
#corners2 {
    padding: 30px;
    background: #004d0a;
    width: 170px;
    height: 70px;
    border-radius: 7px 12px 18px 24px;
    box-shadow: inset 0 0 7px 5px #00ffaa;
    text-shadow: -2px 2px 2px #999;
}

#corners3 {
    background: #fff;
    width: 100px;
    height: 150px;
    border-radius: 50px/90px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 5px 5px 3px 1px #70006b;
}

abbr[title] {
    border-bottom: 1px dotted #ccc
}

input[type=text][disabled] {
    border: 1px solid #ccc 
}

[href^=http] {
    padding-right: 10px;
    background: url(mmmm.png) right no-repeat;
}

a {
    -webkit-transition: .5s;
	transition: .5s;
}

#link {
    color: rgb(255, 147, 188);
    text-decoration: none;
    border-bottom: 3px solid #ddd;
}
#link:hover {
    border-color: rgb(255, 147, 188);
}

pre {
    float: left;
    height: 200px;
    width: 200px;
	background-color: #611b3b;
	margin: 0 50px 50px 0;
	white-space: normal;
}

#c0 {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

#c1 {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}
#c2 {
    -webkit-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
}

#c3 {
    -webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
}

#c4 {
    -webkit-transform: translate(15px, 5px);
    -ms-transform: translate(15px, 5px);
    transform: translate(15px, 5px);
}

#c5 {
    -webkit-transform: scale(0.85) rotate(-10deg) translate(15px, 10px);
	-ms-transform: scale(0.85) rotate(-10deg) translate(15px, 10px);
	transform: scale(0.85) rotate(-10deg) translate(15px, 10px);
}