body {
    background-color: #280320;
    color: rgb(255, 255, 255);
    text-align:  center;
}

h1 {
    color: rgba(255, 255, 255, 0.9);
}

#h2t {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: -1.5px 1px 2px #ff75c3;
}

.Emoji {
    text-shadow: -1px 1px 3px #5cbeff;
}

b {
    font-family: cursive;
    text-shadow: -2px 2px 3px #999;
}

* {
    margin: 10;
    padding: 0;
}

@import url(что-то.css);
#genus_examples > li {
     border: 3.5px solid #c2005e; 
}

h2 + p {
    font-weight: bold 
}

#corners {
    padding: 30px;
    background: #5c002c;
    border-radius: 50px;
    border: 7px solid #fff;
}
/* Онли через тэг выровнять получилось */
#corners2 {
    padding: 30px;
    background: #004d0a;
    width: 170px;
    height: 70px;
    border-radius: 7px 12px 18px 24px;
    box-shadow: inset 0 0 7px 5px #00ffaa;
    text-shadow: -2px 2px 2px #999;
}

#corners3 {
    background: #fff;
    width: 100px;
    height: 150px;
    border-radius: 50px/90px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 5px 5px 3px 1px #70006b;
}

abbr[title] {
    border-bottom: 1px dotted #ccc
}

input[type=text][disabled] {
    border: 1px solid #ccc 
}

[href^=http] {
    padding-right: 10px;
    background: url(mmmm.png) right no-repeat;
}

a {
    -webkit-transition: .5s;
	transition: .5s;
}

#link {
    color: rgb(255, 147, 188);
    text-decoration: none;
    border-bottom: 3px solid #ddd;
}
#link:hover {
    border-color: rgb(255, 147, 188);
}

pre {
    float: left;
    height: 200px;
    width: 200px;
	background-color: #611b3b;
	margin: 0 50px 50px 0;
	white-space: normal;
}

#c0 {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

#c1 {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}
#c2 {
    -webkit-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
}

#c3 {
    -webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
}

#c4 {
    -webkit-transform: translate(15px, 5px);
    -ms-transform: translate(15px, 5px);
    transform: translate(15px, 5px);
}

#c5 {
    -webkit-transform: scale(0.85) rotate(-10deg) translate(15px, 10px);
	-ms-transform: scale(0.85) rotate(-10deg) translate(15px, 10px);
	transform: scale(0.85) rotate(-10deg) translate(15px, 10px);
}

span.gradient-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to right, #e60ba9, #855a9e, #18f0bc);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

span.gradient-text2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: radial-gradient(circle, yellow, #ff5500);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

span.gradient-text3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: repeating-linear-gradient(to right, #ffffff, #83d487 10px, #ffffff 20px);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.clearfix {
    clear: left;
}

#rgradient1, #rgradient2, #rgradient3, #rgradient4 {
    border: 3px solid #ffe854;
}

#lgradient1, #lgradient2, #lgradient3, #lgradient4, #rgradient1, #rgradient2, #rgradient3, #rgradient4 {
    display: block;
    float: left;
    white-space: normal;
    margin: 0 50px 50px 0;
    width: 200px;
	height: 200px;
    border: 3px solid #85ceff;
}

#bgradient {
    display: block;
    float: left;
    white-space: normal;
    margin: 0 50px 50px 0;
    width: 200px;
	height: 200px;
    background: linear-gradient(135deg, #004d0a 10%, #00ffaa 60%, #aeff80 90%);
    border: 3px solid #79de78;
}

#regradient1, #regradient2 {
    display: block;
    float: left;
    white-space: normal;
    margin: 0 50px 50px 0;
    width: 200px;
	height: 200px;
    border: 3px solid #79de78;
}

#lgradient1 {
	background: linear-gradient(#22e6b9, #7525b9);
}

#lgradient2 {
	background: linear-gradient(to right, #22e6b9, #7525b9);
    background: -webkit-linear-gradient(to right, #22e6b9, #7525b9); 
}

#lgradient3 {
	background: linear-gradient(to bottom right, #22e6b9, #7525b9);
    background: -webkit-linear-gradient(to bottom right, #22e6b9, #7525b9); 
}

#lgradient4 {
	background: linear-gradient(20deg, #22e6b9, #7525b9);
    background: -webkit-linear-gradient(20deg, #22e6b9, #7525b9); 
}

#rgradient1 {
    background: radial-gradient(yellow, #ff8400);
    background: -webkit-radial-gradient(yellow, #ff8400);
}

#rgradient2 {
    background: radial-gradient(circle, yellow, #ff8400);
    background: -webkit-radial-gradient(circle, yellow, #ff8400);
}

#rgradient3 {
    background: radial-gradient(circle closest-side, yellow, #ff8400);
    background: -webkit-radial-gradient(circle closest-side, yellow, #ff8400);
}

#rgradient4 {
    background: radial-gradient(at top left, yellow, #ff8400);
    background: -webkit-radial-gradient(at top left, yellow, #ff8400);
}

#regradient1 {
    background: repeating-linear-gradient(#ffffff, #004a04 15px, #ffffff 30px);
}

#regradient2 {
    background: repeating-radial-gradient(#004a04, #004a04 15px, #ffffff 15px, #ffffff 25px);
}