body {
    color: white;
    background-color: #0A3542;
}

#top {
    background-color: #8ea0fa;
    padding: 1em
}

#top h2 {
    color: #00092b;
}

#top p {
    color: #000000;
    font-weight: bold;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:active {
    color: #723999;
}

a:hover {
    text-decoration: none;
    color: blue;
    background-color: lightcyan;
}

input:focus, textarea:focus {
    background: #eee;
}

h1:first-child {
    font-weight: lighter;
    font-size: 40px;
    color:#eee
}

em:last-child {
    color: #8ea0fa;
    color: #fc7496;
}

#top {
    margin: 1px 5px 10px 20px;
    border: 4px #ffffff solid;
}
#top {
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 1px 5px 5px 1px;
    border-color: red green blue yellow;
    margin: 10px 50px;
}

li {
    display: block;
    padding: 20px 10px;
}

li:before {
    content: "СПИСОК! ";
    background: red;
    color: #fc0;
}

#text h3 { 
    font-size: 18px;
}

#text h3:first-letter {
    color: #eb4efc;
    font-size: 40px;
    float: left;
}

#text h3:first-line {
    color: #d7ccff;
    font-weight: bold;
}


