body {
    background-color: #002f38;
    color: white;
    text-align:  center;
}

table, th, td {
    border: 1px solid white;
    text-align: center;
    width: 300px;
    margin: auto;
  }

col.alternative {
    background: #5e005a;
}

a {
    color: #e0ff6e;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}