body {
    color: white;
    background-color: #263D4D;
}

h1 {
    text-align: center;
}

.hour {
  color: red
}

.min {
  color: green
}

.sec {
  color: blue
}

/* .notification {
  position: fixed;
  z-index: 1000;
  padding: 5px;
  border: 1px solid black;
  font-size: 20px;
  background: white;
  text-align: center;
}

.welcome {
  background: #b80000;
  color: yellow;
} */

/* #example {
  width: 300px;
  height: 200px;
  overflow: scroll;
}

#field {
  width: 200px;
  border: 10px groove black;
  background-color: #00FF00;
  position: relative;
}

#ball {
  position: absolute;
  width: 40px;
  height: 40px;
} */

/* .note {
  position: fixed;
  z-index: 1000;
  padding: 5px;
  border: 1px solid black;
  background: rgb(1, 122, 130);
  text-align: center;
  font: italic 14px serif;
}

blockquote {
  background: #8d83ff;
  border-left: 10px solid #ccc;
  margin: 0 0 0 100px;
  padding: .5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  display: inline-block;
  white-space: pre;
}

blockquote:before {
  color: #0d3478;
  content: open-quote;
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
} */

/* .note {
  position: absolute;
  z-index: 1000;
  padding: 5px;
  border: 1px solid black;
  background: rgb(1, 122, 130);
  text-align: center;
  font: italic 14px serif;
}

blockquote {
  background: #8d83ff;
  border-left: 10px solid #ccc;
  margin: 0 0 0 100px;
  padding: .5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  display: inline-block;
  white-space: pre;
}

blockquote:before {
  color: #0d3478;
  content: open-quote;
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
} */

/* .note {
  position: absolute;
  z-index: 1000;
  padding: 5px;
  border: 1px solid black;
  background: rgb(1, 122, 130);
  text-align: center;
  font: italic 14px serif;
}

blockquote {
  background: #8d83ff;
  border-left: 10px solid #ccc;
  margin: 0 0 0 100px;
  padding: .5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  display: inline-block;
  white-space: pre;
}

blockquote:before {
  color: #0d3478;
  content: open-quote;
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
} */

/* #field {
  width: 200px;
  height: 150px;
  border: 10px solid black;
  background-color: #00FF00;
  overflow: hidden;
  position: relative;
}

#ball {
  position: absolute;
  left: 0;
  top: 0;
  transition: 1s all;
} */

/* .menu ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: none;
}

.menu .title {
  font-size: 18px;
  cursor: pointer;
}

.menu .title::before {
  content: '▶ ';
  font-size: 80%;
  color: green;
}

.menu.open .title::before {
  content: '▼ ';
}

.menu.open ul {
  display: block;
} */

/* body {
  margin: 10px auto;
  width: 470px;
}

h3 {
  margin: 0;
  padding-bottom: .3em;
  padding-right: 20px;
  font-size: 1.1em;
}

p {
  margin: 0;
  padding: 0 0 .5em;
}

.pane {
  background: #3896be;
  padding: 10px 20px 10px;
  border-top: solid 2px #8cc9ff;
  position: relative;
}

.remove-button {
  font-size: 110%;
  color: rgb(0, 0, 0);
  right: 10px;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
} */